main{
    max-width: 1140px;
    margin: 0 auto;
}


/* shared style */
.inter-black{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
    
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #252432;
}
.center{
    display: flex;
    text-align: center;

}

.sec-bg{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    width: 1140px;
    height: 306px;
    margin-top: 116px;
}

/* header */
header{
    background-image: url(../asset/Assets/Hero-bg.png);
}

body header nav{
    display: flex;
}


/* nav section */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
}
.nav-title{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
}
.line-1{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    margin-top: 309px;
}
.line-2{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
}

/* button section */
.btn{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn2{
    margin-top: 37px;
    margin-bottom: 152px;
}

.btn:hover{
    background-color: #4d47ff93;
    transition: 0.3s;
}

/* banner section */
.banner{
    align-items: center;
    justify-content:center;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    text-align: center;
}

.banner2{
    display: flex;
    justify-content: space-between;
    margin: 116px 159px 0 141px;
}
.banner-content{
    max-width: 580px;
}

.img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

.banner-description{
    color: #2524328a;
    font-size: 24px;
}

section div h3{
    font-size: 42px;
    font-weight: bold;
}

/* section style */
.section-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.about{
    padding: 50px;
    text-align: center;
}