html body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:rgba(122, 34, 255, 0.045)
}


main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* shared style */
.inter-black {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #252432;
}

.center {
    display: flex;
    text-align: center;

}

.sec-bg {
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    width: 1140px;
    height: 260px;
    margin-top: 116px;
}

.text-center {
    text-align: center;
}

/* header */
header {
    background-image: url(../asset/Assets/Hero-bg.png);
}

body header nav {
    display: flex;
}


/* nav section */
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
}

.nav-title {
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
}

.line-1 {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    margin-top: 180px;
}

.line-2 {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
}

/* button section */
.btn {
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn2 {
    margin-top: 37px;
    margin-bottom: 152px;
}

.btn:hover {
    background-color: #4d47ff93;
    transition: 0.3s;
}

/* banner section */
.banner {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    text-align: center;
}

.banner2 {
    display: flex;
    justify-content: space-between;
    margin: 116px 159px 0 141px;
}

.banner-content {
    max-width: 580px;
}

.img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

.banner-description {
    color: #2524328a;
    font-size: 24px;
}

section div h3 {
    font-size: 42px;
    font-weight: bold;
}

/* section style */
.section-title {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 35px;
    margin-top: 0%;
}

/* about styles */
.about {
    padding: 60px 20px;
    text-align: center;
}

.about-items {
    display: flex;
    justify-content: space-evenly;
    gap: 120px;
    flex-wrap: wrap;
    margin-top: 2px;
    margin-bottom: 100px;
}

.item-title {
    color: rgba(78, 71, 255, 1);
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0%;
}

.item-description {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    margin-top: 0%;
}

/* review section */
.skill-container {
    display: flex;
    gap: 24px;
}

.skill-description {
    padding: 0px;
    box-shadow: 0px 6px 50px 0px rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    margin-left: 0%;
    margin-bottom: 10px;
    margin-top: 0%;
    text-align: left;

}

.logo {
    /* display: flex; */
}

.skill-1 {
    margin-left: 10px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.359);
    border-radius: 15px;
    width: 367px;
    height: 190px;
    background-color: rgba(255, 255, 255, 0.578);

}

.color {
    color: rgba(117, 117, 117, 1);
    margin-bottom: 0%;
}

.color2 {
    color: rgba(179, 179, 179, 1);
    margin-top: 0px;
}

.pic {
    margin-bottom: 0%;
}

.skill-title {
    margin-bottom: 0%;
    font-size: 20px;
}

.column2{
    padding: 120px 250px;
    display: flex;
    gap: 90px;
    align-items: center;
    margin-left: 0%;
    margin-right: 200px;
    width: 50%;
}

.section3-title{
    font-size: 5em;
    color:black;
    line-height: 1.1;
    margin: 0;
    font-weight: bold;
    margin-right: 40px;
    margin-left: 0%;
}

.column input[type="text"], .column input[type="email"], .column textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 497px;
    height: 70px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: rgba(214, 221, 237, 1);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.112);
    margin-top: 0%;
}
.btn3{
    height: 64px;
    width: 497px;
    height: 70px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.column3-title{
    font-weight: bold;
    font-size: 50px;
}

.num1, .num2{
    margin-bottom: 0%;
}

/* footer */

.footer1{
    font-size: 150px;
    font-weight: 900;
    margin-bottom: 10px;
    color: rgba(78, 71, 255, 1);
}

.footer3 ul {
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-left: 500px;
    gap: 50px;
    margin-bottom: 170px;
}

.footer3 ul a{
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}

.para{
    color: rgba(137, 135, 161, 1);
    margin-top: 0%;
}

.divv{
    display: flex;
    gap: 10px;
}
.review{
    margin-bottom: 200px;
}
.logo{
    margin-top: 20px;
}